<section th:fragment="categories" class="categories overflow-hidden">
    <div class="container-fluid">
        <div class="row g-5">
            <div class="col-md-3">
                <span class="d-block py-3 text-white text-uppercase fs-7 ls-1">01. Electronic Gadgets</span>
                <div class="jarallax position-relative mb-4" style="height: 480px;">
                    <img th:src="@{/user/images/template/category-thumb-1.jpg}" alt="categories" class="jarallax-img img-fluid">
                    <div class="category-content position-absolute bottom-0 p-5 text-uppercase">
                        <a th:href="@{/products}" class="text-white btn-link">Shop it Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span class="d-block py-3 text-white text-uppercase fs-7 ls-1">02. Cool Stuff</span>
                <div class="jarallax position-relative mb-3" style="height: 480px;">
                    <img th:src="@{/user/images/template/category-thumb-2.jpg}" alt="categories" class="jarallax-img img-fluid">
                    <div class="category-content position-absolute bottom-0 p-5 text-uppercase">
                        <a th:href="@{/products}" class="text-white btn-link">Shop it Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <span class="d-block py-3 text-white text-uppercase fs-7 ls-1">03. Accessories</span>
                <div class="jarallax position-relative mb-3" style="height: 480px;">
                    <img th:src="@{/user/images/template/category-thumb-3.jpg}" alt="categories" class="jarallax-img img-fluid">
                    <div class="category-content position-absolute bottom-0 p-5 text-uppercase">
                        <a th:href="@{/products}" class="text-white btn-link">Shop it Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span class="d-block py-3 text-white text-uppercase fs-7 ls-1">04. Display Units</span>
                <div class="jarallax position-relative mb-3" style="height: 480px;">
                    <img th:src="@{/user/images/template/category-thumb-4.jpg}" alt="categories" class="jarallax-img img-fluid">
                    <div class="category-content position-absolute bottom-0 p-5 text-uppercase">
                        <a th:href="@{/products}" class="text-white btn-link">Shop it Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
