<section th:fragment="features" class="features" style="position:relative; margin-top: -100px; z-index: 2;">
    <div class="container-lg">
        <div class="bg-black p-5">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="element-title text-capitalize my-3">Book An Appointment</h4>
                    <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                </div>
                <div class="col-md-3">
                    <h4 class="element-title text-capitalize my-3">Pick up in store</h4>
                    <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                </div>
                <div class="col-md-3">
                    <h4 class="element-title text-capitalize my-3">Special packaging</h4>
                    <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                </div>
                <div class="col-md-3">
                    <h4 class="element-title text-capitalize my-3">free global returns</h4>
                    <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                </div>
            </div>
        </div>
    </div>
</section>
