<footer th:fragment="footer" id="footer" class="bg-black">
    <div class="container-fluid">
        <div class="row d-flex flex-wrap justify-content-between my-5 py-5">
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-001">
                    <div class="footer-intro mb-4">
                        <a th:href="@{/}">
                            <img th:src="@{/user/images/template/logo.svg}" alt="logo">
                        </a>
                    </div>
                    <p>Gravida massa volutpat aenean odio. Amet, turpis erat nullam fringilla elementum diam in. Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit.</p>
                    <div class="social-links">
                        <ul class="list-unstyled d-flex flex-wrap gap-3">
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#youtube"></use></svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pinterest"></use></svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary">
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#instagram"></use></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title mb-4">Quick Links</h5>
                    <ul class="menu-list list-unstyled fs-6">
                        <li class="menu-item">
                            <a th:href="@{/}" class="item-anchor">Home</a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/products}" class="item-anchor">About</a>
                        </li>
                        <li>
                            <a th:href="@{/products}" class="item-anchor">Services</a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/products}" class="item-anchor">Single item</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title mb-4">About</h5>
                    <ul class="menu-list list-unstyled fs-6">
                        <li class="menu-item">
                            <a th:href="@{/}" class="item-anchor">How it works</a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/products}" class="item-anchor">About</a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/products}" class="item-anchor">Our packages</a>
                        </li>
                        <li class="menu-item">
                            <a th:href="@{/products}" class="item-anchor">Promotions</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Refer a friend</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-menu footer-menu-003">
                    <h5 class="widget-title mb-4">Help & Info</h5>
                    <ul class="menu-list list-unstyled fs-6">
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Track Your Order</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Returns + Exchanges</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Shipping + Delivery</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Contact Us</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Find us easy</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Faqs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-004 border-animation-left">
                    <h5 class="widget-title mb-4">Contact Us</h5>
                    <p>Do you have any questions or suggestions? <a href="mailto:contact@yourcompany.com" class="item-anchor">contact@yourcompany.com</a></p>
                    <p>Do you need support? Give us a call. <a href="tel:+43 720 11 52 78" class="item-anchor">+43 720 11 52 78</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top py-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 d-flex flex-wrap">
                    <div class="shipping">
                        <span>We ship with:</span>
                        <img th:src="@{/user/images/template/arct-icon.png}" alt="icon">
                        <img th:src="@{/user/images/template/dhl-logo.png}" alt="icon">
                    </div>
                    <div class="payment-option">
                        <span>Payment Option:</span>
                        <img th:src="@{/user/images/template/visa-card.png}" alt="card">
                        <img th:src="@{/user/images/template/paypal-card.png}" alt="card">
                        <img th:src="@{/user/images/template/master-card.png}" alt="card">
                    </div>
                </div>
                <div class="col-md-6 text-start text-md-end">
                    <p>© Copyright 2023 ElectroStore. All rights reserved. HTML Template by <a href="https://templatesjungle.com" target="_blank">TemplatesJungle</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
